<p id="notice"><%= notice %></p>

<nav class="objects-header">
<h1 class="page-title"><%= @group.name %></h1>
</nav>
<div class="container">
<div class="row">
<div class="col-3">
</div>
<section class="object-menu col-6">
<table>
    <tr>
      <th><h5>Project</h5></th>
      <th><h5>Author</h5></th>
    </tr>
<% @group.projects.each do |project| %>
  <tr>
    <td><h6><%= project.name %></h6></td>
    <td><h6><%= project.author.name %></h6></td>
  </tr>
<% end %>
</table>
<div class="add-border">
  <div class="add-button">
    <h5><%= link_to 'Add New Project to Group', new_grouped_project_path, class: "big-link" %></h5>
  </div>
</div>
</section>
<div class="col-3">
</div>
</div>
</div>
