<h3 class="user-name"><%= current_user.name %></h3>
<section class="user-options">
<%= link_to "All My Projects", projects_path %>
<%= link_to "All My External Projects", projects_path(:group=>[nil, ""]) %>
<%= link_to "All Groups", groups_path %>
<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
</section>