<p id="notice"><%= notice %></p>
<nav class="objects-header">
<%= link_to root_path, class: "hamburger-icon" do%>
<img class="home-hamburger-icon" src="https://www.coupa.com/sites/default/files/exec-connects/Hamburger_icon_white.png" alt="Home icon">
<% end %>
<h1 class="page-title">MY PROJECTS</h1>
<div>
</div>
</nav>
<div class="container">
<div class="row">
<div class="col-3">
</div>
<section class="object-menu col-6">
  <div class="sum-hours d-flex flex-row justify-content-between">
    <strong><h5>Total Hours:</h5></strong>
    <strong><h5><%= @projects.sum(:hours) %></h5></strong>
  </div>
    <% @projects.order('created_at DESC').each do |project| %>
      <div class="single-object">
        <div class="image-title">
        <% i_src = project.groups.first_icon_url[0] %>
        <% unless (i_src.blank?) %>
        <%= image_tag("#{i_src}", alt: "First group icon", :class => "single-icon") %>
        <% else %>
        <%= image_tag("https://st4.depositphotos.com/14953852/24787/v/600/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg", 
        alt: "Default icon", :class => "single-icon") %>
        <% end %>
        <div class="name-date">
        <h5><%= project.name %></h5>
        <p><%= project.created_at.to_date %></p>
        </div>
        </div>
        <p class="hour-count"><%= project.hours %>H</p>
      </div>
    <% end %>
    <div class="add-border">
    <div class="add-button">
      <h5><%= link_to 'Add New Project', new_project_path, class: "big-link" %></h5>
    </div>
    </div>
</section>
<div class="col-3">
</div>
</div>
</div>